.frame {
  width: 360px;
  height: 360px;
  border-radius: 7px;
  border: 3px solid rgb(180, 180, 180);
}
.result {
  border: 2px solid rgb(180, 180, 180);
  text-align: right;
  right: -10px;
  display: inline-flex;
  margin-left: 10px;
  height: 41px;
  width: 335px;
  line-height: 43px;
}
.result-right {
  position: relative;
  right: -316px;
  font-size: 22px;
}
.ban-phim {
  margin: 10px;
  width: 339px;
  height: 240px;
}
.ban-phim > div {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40 px;
}
.nut {
  background-color: rgb(235, 235, 235);
  text-align: center;
  float: left;
  line-height: 34px;
  margin-left: 5px;
  margin-top: 5px;
  width: 23%;
  height: 34px;
  border-radius: 3px;
  font-size: 19px;
  
}
.Tinh {
  background-color: rgb(53, 114, 245);
  width: 47.5%;
}
.del {
  background-color: rgb(255, 44, 44);
}
.tinhtoan {
  background-color: rgb(143, 143, 143);
}
div .nut sup {
  height: 12px;
  width: 11px;
  line-height: 11px;
  font-family: inherit;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  left: 3px;
  top: -2px;
}
.x{
  position: relative;
  left: 9px;
}
/* .nut-hang-ngang > div > div {
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  height: 30 px;
  text-align: center;
  margin: 4px;
  border: 1px solid #dedede;
  background: whiteSmoke;
  background-image: -moz-linear-gradient(top, #fafafa, whiteSmoke);
  background-image: -webkit-linear-gradient(top, #fafafa, whiteSmoke);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fafafa),
    color-stop(1, whiteSmoke)
  );
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#fafafa, EndColorStr=#f5f5f5)";
  background-image: linear-gradient(top, #fafafa, whiteSmoke);
  width: 22%;
  cursor: pointer;
  border-radius: 3px;
} */
